.example-card {
  background-color: rgba(112, 53, 53, 0.5);
 }
 
.loginscreen{
  background: url(../../src/assets/ricardo.jpg) no-repeat;
  background-size: cover;
}

.avatar{
  background-size: cover;
}
 
 .example-header-image {
   background-image: url(../../src/assets/IMG-20210107-WA0004.jpg);
   background-size: cover;
 }

 .custom-icon {
   cursor: pointer;
 } 
 
 .custom-form-field-icon {
   position: absolute;
   right: 0;
   top: 0;
 }

 .drawer {
   position: fixed;
   height: 100vh;
   min-width: 25%;
   border-right: 1px solid #ccc;
 }
 .drawer.header {
   position: absolute;
   right: 0;
   justify-content: space-between;
 }
 .drawer.contents {
   padding: 160px;
   
 }

 .container-wrapper {
   max-width: auto;
   margin: 10px;
   padding: 10px;
 }

 .example-margin {
   margin: 10px 10px;
 }

 .mat-tree-node {
  background-color: rgb(66, 157, 253);
  color: white;
  user-select: none;
  cursor: move;

  &.cdk-drag-preview { // while dragging
    z-index:12;
  }
  &.cdk-drag-placeholder { // potential drop area
    opacity: 0;
  }
}

/* items moving away to make room for drop */
.cdk-drop-list-dragging .mat-tree-node:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
/* item being dropped */
.cdk-drag-animating {
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
}