<div *ngIf="(AfterOnlineCheckAuth | async) as onlineAndAuthReady; else onlineAndAuthNotReady">
    <div *ngIf="(loggedinstate | async) === 'firstpage' as myloggedinstate; else startPage">
        <mat-toolbar color="primary">
            <h1>
                StepsWise Tracking Tool-Here
            </h1>
            <span fxFlex="grow"></span>
            <div fxHide.lt-sm>
                Welcome {{myuserProfile?.userAuthenObj.displayName}}!
            </div>
            <button mat-icon-button>
                <fa-icon (click)="componentLogOff()" class="fas faSignOutAlt fa-lg" [icon]="['fas', 'sign-out-alt']">
                </fa-icon>
            </button>
        </mat-toolbar>

        <div>
            <mat-grid-list cols="3" rowHeight="100vh">
                <mat-grid-tile colspan="1" rowspan="1" [style.background]="'cyan'">
                    <div *ngIf="(myprofilevalbef | async) as myprofilevalbefReady; else myprofilevalbefNotReady" >
                        <mat-label style="margin-left:20%;">
                            Profile Details:
                        </mat-label>
                        <pre>
                        MembershipEnd: {{myprofilevalbefReady.MembershipEnd}}
                        MembershipType:{{myprofilevalbefReady.MembershipType}}
                        projectLocation: {{myprofilevalbefReady.projectLocation}}
                        projectOwner: {{myprofilevalbefReady.projectOwner}}
                        projectName: {{myprofilevalbefReady.projectName}} 
                        </pre>
                        <div *ngIf="(myprofileDetails | async) as myprofileDetailsReady; else myprofileDetailsNotReady">
                            <mat-label style="margin-left:20%;">
                                More Details:
                            </mat-label>
                            <pre>
                            Profilename: {{myprofileDetailsReady?.profileName}}
                            Email:{{myprofileDetailsReady?.email}}
                            Gender: {{myprofileDetailsReady?.gender}}
                            AreasOfInterest:{{myprofileDetailsReady?.areaOfinterest}}
                            Skills: {{myprofileDetailsReady?.skills}}
                            Location: {{myprofileDetailsReady?.location}}
                        </pre>
                            <button mat-raised-button color="primary" (click)="UpdateUserProfileFlag()">Update</button>
                        </div>

                        <ng-template #myprofileDetailsNotReady>
                            <mat-card class="list" *ngIf="myprojectFlags.newuserProfileDetails === false"
                                fxLayout="column" fxLayout.lt-sm="column" fxLayoutAlign="space-around center">
                                <mat-card-content class="empty-label">
                                    Do You want to Add User Profile?</mat-card-content>
                                <mat-card-actions>
                                    <button mat-raised-button color="primary" (click)="CreateUserProfile()">Add
                                        Profile</button>
                                </mat-card-actions>
                            </mat-card>

                            <mat-card class="list" *ngIf="myprojectFlags.newuserProfileDetails === true"
                                fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="space-around center">
                                <mat-card-content class="empty-label">
                                    <form [formGroup]="myprojectControls?.addProfileDetails" fxLayout="row wrap"
                                        fxLayoutAlign="center center">
                                        <mat-form-field appearance="fill" floatLabel="Edit Sub-Heading" >
                                            <mat-label>Update DisplayName</mat-label>
                                            <input matInput placeholder="Sub-Heading"
                                                formControlName="profilenameControl">
                                        </mat-form-field>

                                        <mat-form-field appearance="fill" floatLabel="Edit Sub-Heading" >
                                            <mat-label>Upadate Photo</mat-label>
                                            <input matInput placeholder="Sub-Heading" formControlName="photourlControl">
                                        </mat-form-field>

                                        <mat-form-field appearance="fill" floatLabel="Edit Sub-Heading">
                                            <mat-label>Upadate Email</mat-label>
                                            <input matInput placeholder="Sub-Heading"
                                                formControlName="email_savedControl">
                                        </mat-form-field>

                                        <mat-form-field appearance="fill" floatLabel="Edit Sub-Heading">
                                            <mat-label>Update gender</mat-label>
                                            <input matInput placeholder="Sub-Heading" formControlName="genderControl">
                                        </mat-form-field>

                                        <mat-form-field appearance="fill" floatLabel="Edit Sub-Heading" >
                                            <mat-label>Update areasOfInterest</mat-label>
                                            <input matInput placeholder="Sub-Heading"
                                                formControlName="areasOfInterestControl">
                                        </mat-form-field>

                                        <mat-form-field appearance="fill" floatLabel="Edit Sub-Heading"
                                        >
                                            <mat-label>Update skills</mat-label>
                                            <input matInput placeholder="Sub-Heading" formControlName="skillsControl">
                                        </mat-form-field>
                                    </form>
                                </mat-card-content>
                                <mat-card-actions>
                                    <button mat-raised-button color="primary"
                                        (click)="UpdateUserProfile()">Update</button>
                                </mat-card-actions>
                            </mat-card>

                        </ng-template>
                    </div>
                    <ng-template #myprofilevalbefNotReady>
                        <mat-card class="list" *ngIf="myprojectFlags.newuserProfileDetails === false"
                        fxLayout="column" fxLayout.lt-sm="column" fxLayoutAlign="space-around center">
                        <mat-card-content class="empty-label">
                            Do You want to Create New User?</mat-card-content>
                        <mat-card-actions>
                            <button mat-raised-button color="primary" (click)="CreateNewUser()">NewUser</button>
                        </mat-card-actions>
                    </mat-card>
                    </ng-template>
                </mat-grid-tile>

                <mat-grid-tile colspan="1" rowspan="1" [style.background]="'red'">

                    <mat-accordion>
                        <mat-expansion-panel *ngFor="let detail of DisplayprojectDetails">
                          <mat-expansion-panel-header >
                            <mat-panel-title fxFlexAlign="center" fxFlex="grow">
                                {{detail.projectName}}
                            </mat-panel-title>
                            <mat-panel-description>
                                <div mat-card-avatar [ngStyle]="{'background-image': 'url(' + detail.photoUrl + ')', 'background-size': 'cover'  }" ></div>
                            </mat-panel-description>
                          </mat-expansion-panel-header>
                          <div fxLayout="column">
                            {{detail.description}}
                            Created: {{detail.creationDate.toDate() | date:'dd-mm-yyyy'}}
                          </div>

                        </mat-expansion-panel>
                        
                        
                    </mat-accordion>     
                   
                </mat-grid-tile>

                <mat-grid-tile colspan="1" rowspan="1" [style.background]="'blue'" >
                   
                    <app-nested-tree  [Sections]="Sections" [latestProject]="myuserProfile.myusrinfoFromDb?.projectName"  fxFlex fxFlexAlign="center"></app-nested-tree>
                </mat-grid-tile>

            </mat-grid-list>
        </div>
    </div>
    <ng-template #startPage>
        <div fxLayoutAlign="space-around center" style="height:100vh;">
            <mat-grid-list cols="3" rowHeight="100vh">
                <mat-grid-tile colspan="1" rowspan="1" [style.background]="'cyan'">
                    <firebase-ui (signInSuccessWithAuthResult)="successCallback($event)"
                    (signInFailure)="errorCallback($event)"
                    (uiShown)="uiShownCallback()"></firebase-ui>
                </mat-grid-tile>

                <mat-grid-tile colspan="1" rowspan="1" [style.background]="'red'">

                    <mat-accordion>
                        <mat-expansion-panel *ngFor="let detail of DisplayprojectDetails">
                          <mat-expansion-panel-header >
                            <mat-panel-title fxFlexAlign="center" fxFlex="grow">
                                {{detail.projectName}}
                            </mat-panel-title>
                            <mat-panel-description>
                                <div mat-card-avatar [ngStyle]="{'background-image': 'url(' + detail.photoUrl + ')', 'background-size': 'cover'  }" ></div>
                            </mat-panel-description>
                          </mat-expansion-panel-header>
                          <div fxLayout="column">
                            {{detail.description}}
                            Created: {{detail.creationDate.toDate() | date:'dd-mm-yyyy'}}
                          </div>

                        </mat-expansion-panel>
                        
                        
                    </mat-accordion>     
                   
                </mat-grid-tile>

                <mat-grid-tile colspan="1" rowspan="1" [style.background]="'blue'" >                   
                    <app-nested-tree  [Sections]="Sections" latestProject="Angular interview"  fxFlex fxFlexAlign="center"></app-nested-tree>
                </mat-grid-tile>

            </mat-grid-list>
        </div>
    </ng-template>


</div>
<ng-template #onlineAndAuthNotReady>
    <div *ngIf="(myonline | async) as myonlineReady; else myonlineNotReady">
        <div *ngIf="!(myauth | async) as authnotready">
            <div *ngIf="(myauth | async) === undefined">
                <div fxLayoutAlign="center center" style="height:100vh;">
                    Waiting for Authentication!<mat-spinner [diameter]="30" Style="margin-left:10px;"></mat-spinner>
                </div>
            </div>
            <div *ngIf="(myauth | async) === null" class="loginscreen" fxLayoutAlign="space-around center"
                style="height:100vh;">
                        <mat-toolbar color="primary">
            <h1>
                StepsWise Tracking Tool-Here
            </h1>
            <span fxFlex="grow"></span>
            <div fxHide.lt-sm>
                Welcome {{myuserProfile?.userAuthenObj?.displayName}}!
            </div>
            <button mat-icon-button>
                <fa-icon (click)="componentLogOff()" class="fas faSignOutAlt fa-lg" [icon]="['fas', 'sign-out-alt']">
                </fa-icon>
            </button>
        </mat-toolbar>

        <div>
            <mat-grid-list cols="3" rowHeight="100vh">
                <mat-grid-tile colspan="1" rowspan="1" [style.background]="'cyan'">
                    <firebase-ui (signInSuccessWithAuthResult)="successCallback($event)"
                    (signInFailure)="errorCallback($event)"
                    (uiShown)="uiShownCallback()"></firebase-ui>
                </mat-grid-tile>

                <mat-grid-tile colspan="1" rowspan="1" [style.background]="'red'">

                    <mat-accordion>
                        <mat-expansion-panel *ngFor="let detail of DisplayprojectDetails">
                          <mat-expansion-panel-header >
                            <mat-panel-title fxFlexAlign="center" fxFlex="grow">
                                {{detail.projectName}}
                            </mat-panel-title>
                            <mat-panel-description>
                                <div mat-card-avatar [ngStyle]="{'background-image': 'url(' + detail.photoUrl + ')', 'background-size': 'cover'  }" ></div>
                            </mat-panel-description>
                          </mat-expansion-panel-header>
                          <div fxLayout="column">
                            {{detail.description}}
                            Created: {{detail.creationDate.toDate() | date:'dd-mm-yyyy'}}
                          </div>

                        </mat-expansion-panel>
                        
                        
                    </mat-accordion>     
                   
                </mat-grid-tile>

                <mat-grid-tile colspan="1" rowspan="1" [style.background]="'blue'" >                   
                    <app-nested-tree  [Sections]="Sections" latestProject="Angular interview"  fxFlex fxFlexAlign="center"></app-nested-tree>
                </mat-grid-tile>

            </mat-grid-list>
        </div>


            </div>
        </div>
    </div>

    <ng-template #myonlineNotReady>
        <div *ngIf="(myonline | async)==false">

            <div fxLayoutAlign="center center" style="height:100vh;">
                Lost Internet Connection!
            </div>
        </div>
    </ng-template>
</ng-template>