<div *ngIf="(privateList | async) as privateListReady; else privateListnotReady">
    <mat-label fxFlexAlign="center">Select/Create PrivateTask</mat-label>
    <mat-form-field appearance="fill">
        <input #trigger1="matAutocompleteTrigger" matInput [matAutocomplete]="auto1"
            placeholder="Pick one or Create New" aria-label="Number"
            [formControl]="myprojectControls?.ownPublicprojectControl">
        <mat-icon (click)="trigger1.panelOpen ? trigger1.closePanel() : trigger1.openPanel()"
            class="custom-icon custom-form-field-icon">
            arrow_drop_down
        </mat-icon>
        <mat-autocomplete #auto1="matAutocomplete" autoActiveFirstOption>
            <mat-option *ngFor="let option of privateListReady" [value]="option">
                {{option}}</mat-option>
        </mat-autocomplete>
        <mat-hint>{{myprojectVariables.privateProjectHint}}</mat-hint>
    </mat-form-field>
    <div *ngIf="(PrivateSections | async) as PrivateSectionsReady; else PrivateSectionsnotReady">
        <form [formGroup]="myprojectControls?.editMainsectionGroup"  fxLayoutGap="10px">
            <mat-label fxFlexAlign="center">MainSection:</mat-label>
            <mat-form-field appearance="fill">
              <input #trigger2="matAutocompleteTrigger" matInput [matAutocomplete]="auto2" placeholder="Pick one"
                aria-label="Number" formControlName="editMainsectionControl">
              <mat-icon (click)="trigger2.panelOpen ? trigger2.closePanel() : trigger2.openPanel()"
                class="custom-icon custom-form-field-icon">
                arrow_drop_down
              </mat-icon>
              <mat-autocomplete #auto2="matAutocomplete">
                <mat-option *ngFor="let option of myuserProfile?.mainsubsectionKeys" [value]="option">
                  {{option}}</mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>

          <form Style="margin-top:10px;" [formGroup]="myprojectControls?.visibilityMainsectionGroup">
            <label class="example-margin">Visibility:</label>
            <mat-radio-group formControlName="editVisibilityControl">
              <mat-radio-button class="example-margin" [value]=false>Enable</mat-radio-button>
              <mat-radio-button class="example-margin" [value]=true>Disable</mat-radio-button>
            </mat-radio-group>
          </form>

          <form [formGroup]="myprojectControls?.editSubsectionGroup" Style="margin-top:10px;"  fxLayoutGap="10px">
            <mat-label fxFlexAlign="center">SubSection</mat-label>
            <mat-form-field appearance="fill">
              <input #trigger3="matAutocompleteTrigger" matInput [matAutocomplete]="auto3" placeholder="Pick one"
                aria-label="Number" formControlName="editSubsectionControl">
              <mat-icon (click)="trigger3.panelOpen ? trigger3.closePanel() : trigger3.openPanel()"
                class="custom-icon custom-form-field-icon">
                arrow_drop_down
              </mat-icon>
              <mat-autocomplete #auto3="matAutocomplete">
                    <mat-option *ngFor="let option of myuserProfile?.subSectionKeys" [value]="option">{{option}}
                    </mat-option>
               
              </mat-autocomplete>
              <mat-hint>{{myhint}}</mat-hint>
            </mat-form-field>
          </form>
    </div>

</div>

<ng-template #PrivateSectionsnotReady>
    <div style="width:25vw;">
        No Selected Private Project Keys
    </div>
   
</ng-template>
<ng-template #privateListnotReady>
    Applicable Screen -> can have 0 private project
</ng-template>